# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.xls
.vscode
out
gen
target
.DS_Store
node_modules/
dist/
npm-debug.log
.idea
.setting
*.pyc